* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.visual > div {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -1;
}

.pads {
    display: flex;
    width: 100%;
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
    bottom: 0%;

}

.pad1{
     background-color: aqua;
 }


.pad2{
    background-color: red;
}

.pad3{
    background-color: green;
}


.pad4{
    background-color: blue;
}


.pad5{
    background-color: yellow;
}

.pad6{
    background-color: blueviolet;
}


@keyframes jump {
    0% {
        bottom: 0%;
        left: 20%;
    }
    50% {
        bottom: 50%;
        left: 50%;
    }

    100% {
        bottom: 0%;
        left: 80%;
    }
}